.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  /*동그라미 만들거면 width의 반값을 주면됌*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
